/* Default Button  */

.flex-row-container {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
}

.flex-row-container .flex-row-item {
    flex: 1;
}