/* DEFAULT CARD  */
div.defaultCard {
  min-height: 100%;
  width: 445px;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}

/* HEADER */
.defaultCard .card-header-section{
  padding: 6px 16px 16px 16px;
}

.defaultCard .card-header-title{
  padding: 16px;
}

.defaultCard img{
  padding: 0 !important;
  border-radius: 7px 7px 0 0;
}

/* BODY */
.defaultCard .card-body-section{
  padding: 4px 16px;
  border-radius: 5px;
}

/* BOTTOM */
.defaultCard .card-body-bottom{
  padding: 4px 16px;
  border-radius: 7px;
}

.card-body-bottom img{
  position: relative;
  left: 0;
  bottom: -4px;
  border-radius: 0 0 7px 7px;
}