/* DEFAULT CARD  */

/* 
Option 1
Image is on top
*/
div.defaultCard-top {
  min-height: 100%;
  width: 445px;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border-radius: 8px; */
}

/* 
Option 2
Image is on left
*/
div.defaultCard-left {
  display: flex;
  min-height: 100%;
  width: 445px;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border-radius: 8px; */
}

div.defaultCard-left img{
  object-fit: cover;
  height: 100%;
  width: 40%;
}

/* 
Option 3
Image is on right
*/
div.defaultCard-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100%;
  width: 445px;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border-radius: 8px; */
}

div.defaultCard-right img{
  object-fit: cover;
  height: 100%;
  width: 40%;
}

/* 
Option 3
Image is on right
*/
div.defaultCard-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 445px;
  font-family: 'Roboto', sans-serif;
  margin: 2px;
  border: 1px solid #f0f0f0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* General */
.card-children{
  padding: 20px;
}